:root{
    --cor0: #0070c0;
    --cor1: #f9f9f9;
    --cor2: #0070c07e;
    --cor3: #1B3E59;
    --cor4: #002540;
    --cor5: #3D8FCA;
    --cor6: #F2F2F2;
    --cor7: #D00000;
    --cor8: #740101;
    --cor9: #cdcdcd;
    --cor10: #d1ebff;
    --cor11: #a3d8ff;
    --cor12: #004373;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

body {
    background-color: var(--cor6);
}

/* Página Index */
.cliente_main {
    width: 500px;
    height: 500px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    color: var(--cor0);
}

.logo {
    margin-bottom: 50px;
}

.cliente_main h2 {
    margin-bottom: 50px;
}

.cliente_options_div {
    width: 100%;
    height: 170px;
    background-color: var(--cor0);
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
}

.cliente_options_links {
    height: 100%;
    width: 14%;
    text-align: center;
    padding: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.cliente_options_links img {
    display: block;
    margin: 0 auto 15px;
}

.cliente_options_links a {
    text-decoration: none;
    color: var(--cor6);
}

.cliente_options_links:hover {
    background-color: var(--cor4);
}

/* Template base_clientes */
.fullpage {
    display: flex;
}

.sidebar_upper {
    height: 25vh;
    width: 20vw;
    border: 1px solid var(--cor0);
    text-align: center;
}

.sb_upper_img {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-template {
    margin: auto;
}

.sb_upper_text {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}

.sb_upper_text h3 {
    font-size: 16px;
    color: var(--cor0);
    margin: auto;
}

.sb_upper_text a {
    color: inherit;
    transition: 0.2s;
}

.sb_upper_text a:hover {
    color: var(--cor4)
}

.sidebar_lower {
    height: 75vh;
    width: 20vw;
    padding-top: 10px;
    background-color: var(--cor0);
    text-align: center;
}

.sidebar_lower a{
    color: var(--cor1);
    text-decoration: none;
}

.disabled {
    color:#002540 !important;
    cursor: default !important;
}

.sidebar_options {
    height: 55px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.div_disabled {
    cursor: default;
}

.sidebar_options:hover {
    background-color: var(--cor4);
}

.sidebar_options img {
    margin: 0 15px 0 15px;    
}

.page {
    height: 100vh;
    width: 80vw;
}

.page_title {
    height: 5%;
    width: 97%;
    background-color: var(--cor0);
    color: var(--cor6);
    margin: 5.5vh auto 2.5vh auto;
    display: flex;
    align-items: center;
}

.page_title h3 {
    margin-left: 25px;
    font-weight: 100;
}

.page_content {
    height: 85%;
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(12, 8.33%);
    padding: 20px;
}

/* Módulo "vehicle_type" */
.vehicle_type h2 {
    color: var(--cor12);
    margin-bottom: 10px;
}

.vehicle_type img {
    padding-right: 8px;
}

.vehicle_type #car {
    width: 25px;
}

.vehicle_type #moto {
    width: 23px;
}

.vehicle_type #others_vehicles {
    width: 29px;
}

.btn-vehicle-type {
    color: var(--cor0);
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    margin-right: 20px;
    height: 45px;
    padding: 5px 15px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn-vehicle-type:hover {
    background-color: var(--cor0);
    color: var(--cor1);
}

/* Módulo "vehicle_plate" */
.vehicle_plate_title {
    color: var(--cor12);
    margin-bottom: 10px;
}

.btn_vehicle_plate {
    color: var(--cor0);
    width: 155px;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    margin-right: 5px;
    height: 45px;
    padding: 5px 8px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn_vehicle_plate:hover {
    background-color: var(--cor0);
    color: var(--cor1);
}

.btn-car, .btn-moto, .btn-other {
    display: inline-block;
}

.btn_vehicle_plate img {
    padding-right: 8px;
}

.btn_vehicle_plate #car {
    width: 25px;
}

.btn_vehicle_plate #moto {
    width: 23px;
}

.btn_vehicle_plate #others_vehicles {
    width: 29px;
}

/* Módulo "time" */
.time h2 {
    color: var(--cor12);
    margin-bottom: 10px;
}

.add_time {
    display: flex;
}

.add_time div {
    width: 115px;
    height: 120px;
    text-align: center;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 20px;
    margin-right: 20px;
    padding: 5px 5px;
    color: var(--cor0);
}

.add_time p {
    margin: 5px;
}

.add_time #minutes {
    font-weight: bold;
    font-size: 22px;
}

.add_time button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 28px;
    padding: 0;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    color: var(--cor1);
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.24);
    transition-duration: 0.3s;
}

.add_time button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}
  
.add_time button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(1.5px);
}

/* Módulo "button_confirm" */
.button_confirm button {
    width: 265px;
    height: 66px;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    color: var(--cor1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    font-size: 22px;
    cursor: pointer;
    transition-duration: 0.3s;
    position: relative;
    bottom: 0%;
}

.button_confirm button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}
  
.button_confirm button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(2px);
}

/* Módulo "button_save" */
.button_save button {
    width: 265px;
    height: 66px;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    color: var(--cor1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    font-size: 22px;
    cursor: pointer;
    transition-duration: 0.3s;
    position: relative;
    bottom: 0%;
}

.button_save button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}
  
.button_save button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(2px);
}

/* Módulo "total" */
.div-total {
    background-color: var(--cor1);
    color: var(--cor0);
    border: 1px solid var(--cor0);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 40px;
}

.total h1 {
    text-align: center;
}

.total h2 {
    font-weight: normal;
    color: var(--cor12);
    padding-top: 40px;
}

.informations {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
}

.informations img {
    width: 100px;
    margin-right: 10px;
}

.box {
    width: 100%;
    display: flex;
    background-color: var(--cor6);
    border: 1px solid var(--cor0);
}

.box p {
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
}

/* Módulo "date_filter" */
.date_filter button {
    color: var(--cor0);
    width: 145px;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    margin-right: 25px;
    padding: 8px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.date_filter button:hover {
    background-color: var(--cor0);
    color: var(--cor1);
}

.date {
    display: flex;
    margin-top: 20px;
}

.date h3 {
    color: var(--cor12);
    margin-bottom: 10px;
    margin-left: 10px;
}

.date input {
    color: var(--cor12);
    outline: 0;
    padding: 8px;
    border: 1px solid var(--cor0);
    border-radius: 50px;
    width: 205px;
    font-size: 18px;
    display: flex;
    margin-right: 25px;
    background-color: var(--cor1);
}

#search {
    padding-top: 37px;
}

#search button {
    width: 100px;
    padding: 5px;
    margin: 0;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    color: var(--cor1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

#search button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}
  
#search button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(3px);
}

#search img {
    width: 22px;
    padding-right: 8px;
}

/* Módulo "table_extract" */
.tabela-extrato {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
  
.tabela-extrato th, td {
    text-align: center;
    padding: 10px;
}

.tabela-extrato th {
    background-color: var(--cor0);
    color: var(--cor6);
}

.tabela-extrato td {
    color: var(--cor0);
}

.tabela-extrato tr:nth-child(odd) {
    background-color: var(--cor10);
}
  
.tabela-extrato tr:nth-child(even) {
    background-color: var(--cor11);
}

.saldo {
    font-style: italic;
    font-weight: bold;
}

.tabela-total {
    position: absolute;
    right: 41px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 300px;
}
  
.tabela-total td {
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    color: var(--cor4);
}

.pagination {
    margin-top: 10px;
    margin-left: 15px;
    float: left; 
}

.pagination a {
    color: var(--cor4);
    padding: 5px;
    text-decoration: none;
    transition: background-color .3s;
    /* font-size: 14px; */
}
  
.pagination a.active {
    background-color: var(--cor0);
    color: var(--cor6);
}
  
.pagination a:hover:not(.active) {
    background-color: var(--cor9);
}

/* Módulo "add_credits" */
.add_credits h2 {
    color: var(--cor12);
    margin-bottom: 15px;
}

.values {
    display: flex;
    color: var(--cor0);
}

.values div {
    width: 115px;
    height: 93px;
    text-align: center;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 20px;
    margin-right: 20px;
    padding: 5px 5px;
}

.values p {
    margin: 5px;
    font-weight: bold;
    font-size: 22px;
}

.values button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 28px;
    padding: 0;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    color: var(--cor1);
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.24);
    transition-duration: 0.3s;
}

.values button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}
  
.values button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(2px);
}

.values input::-webkit-outer-spin-button,
.values input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#div-other {
    margin: 0;
    width: 172px;
    padding: 5px 8px;
    font-weight: bold;
}

#div-box {
    display: flex;
    padding: 0;
    margin-right: 0;
    width: 157px;
    height: 39px;
    margin-top: 9px;
    border: none;
}

#div-box button {
    font-size: 14px;
    margin: 0;
}

#div-box img {
    width: 18px;            
    padding-top: 5px;
}

#div-value {
    margin-right: 5px;
    display: flex;
    height: 37px;
    padding: 5px 5px;
}

#div-value input {
    outline: 0;
    padding: 5px;
    width: 80px;
    display: flex;
    font-size: 20px;
    border: none;
    height: 25px;
    color: var(--cor0);
    font-weight: bold;
    background-color: transparent;
}

#div-value input::placeholder {
    color: var(--cor0);
}

/* Módulo "payment_forms" */
.payment_method h2 {
    color: var(--cor12);
    margin-bottom: 15px;
}

.payment_method img {
    width: 50px;
}

.btn-payment {
    font-weight: bold;
    color: var(--cor0);
    width: 110px;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    margin: 0 20px 0 0;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn-payment:hover {
    background-color: var(--cor0);
    color: var(--cor1);
}

/* Módulo "button_remove" */
.button_remove {
    text-align: center;
}

.button_remove a {
    display: inline-block;
    background-color: var(--cor7);
    padding: 0;
    margin: 0;
    border: 1px solid var(--cor7);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-duration: 0.3s;
}

.button_remove img {
    width: 40px;
    padding: 7px 6px 3px;
}

.button_remove a:hover {
    background-color: var(--cor8);
    border: 1px solid var(--cor8);
}
  
.button_remove a:active {
    background-color: var(--cor8);
    border: 1px solid var(--cor8);
    transform: translateY(2px);
}

/* Módulo "add_plate" */
.add_plate h2 {
    margin-bottom: 10px;
    font-weight: normal;
    font-style: italic;
    color: var(--cor12);
}

.add_plate input {
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    width: 150px;
    height: 45px;
    padding: 6px;
    color: var(--cor0);
    font-weight: bold;
    outline: 0;
    margin-right: 10px;
}

.add_plate input::placeholder {
    color: var(--cor2)
}

.add_plate img {
    width: 25px;
    padding-right: 5px;
    margin-top: 2px;
}

.add_plate button {
    color: var(--cor9);
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    font-size: 18px;
    height: 45px;
    padding: 7px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.24);
    transition-duration: 0.3s;
}

.add_plate button:hover {
    background-color: var(--cor12);
    border: 1px solid var(--cor12);
    color: var(--cor5);
}

.add_plate button:active {
    background-color: var(--cor12);
    border: 1px solid var(--cor12);
    transform: translateY(1.5px);
}

/* Página "Estacionar" */
.vehicle_type_estacionar {
    grid-column: 1/8;
    grid-row: 1/3;
}

.vehicle_plate_estacionar {
    grid-column: 1/8;
    grid-row: 3/6;
}

.time {
    grid-column: 1/8;
    grid-row: 6/10;
}

.button_confirm {
    grid-column: 1/13;
    grid-row: 12/13;
    text-align: center;
}

.total {
    grid-column: 8/12;
    grid-row: 2/9;
}

/* Página "Extrato" */
.date_filter_extrato {
    grid-column: 1/13;
    grid-row: 1/4;
}

.div_table_extract {
    grid-column: 1/13;
    grid-row: 4/13;
}

/* Página "Adicionar Créditos" */
.add_credits {
    grid-column: 1/13;
    grid-row: 1/4;
}

#add-credits-form {
    grid-column: 1/13;
    grid-row: 4/13;
}

.informations_add_credits {
    grid-column: 1/5;
    grid-row: 4/7;
}

.informations_add_credits h2 {
    color: var(--cor12);
}

.informations_add_credits .box {
    background-color: var(--cor1);
    color: var(--cor0);
}

.payment_method_add_credits {
    grid-column: 1/13;
    grid-row: 7/12;
}

/* Página "Pagar NR" */
.date_filter_pagar_nr {
    grid-column: 1/13;
    grid-row: 1/4;
}

.tabela {
    grid-column: 1/13;
    grid-row: 4/8;
    border: 1px solid green;
}

.payment_method_pagar_nr {
    grid-column: 1/13;
    grid-row: 8/12;
}

/* Página "Meus Veículos" */
.veiculos_form {
    grid-column: 1/13;
    grid-row: 9/13;
}

.vehicle_plate_veiculos {
    grid-column: 1/8;
    grid-row: 1/5;
}

.vehicle_plate_veiculos .btn_vehicle_plate {
    cursor: auto;
}

.vehicle_plate_veiculos .btn_vehicle_plate:hover {
    background-color: var(--cor1);
    color: var(--cor0);
}

.plate_button {
    display: flex;
}

.vehicle_type_veiculos {
    grid-column: 1/13;
    grid-row: 6/9;
}

.vehicle_type_veiculos h2 {
    font-weight: normal;
    font-style: italic;
    color: var(--cor12);
}

.vehicle_type_veiculos #title {
    margin-bottom: 20px;
    font-weight: bolder;
    font-style: normal;
}

.add_plate {
    grid-column: 1/13;
    grid-row: 7/12;
}

.inner-box-shadow {
    box-shadow: 0px 0px 3px 2px inset #1084d6b0;
}

/* Página "Excluir Veículo" */


.div-excluir {
    grid-column: 1/13;
    grid-row: 1/13;
    background-color: red;
    display: flex;
    margin: auto;
    justify-content: center;


}

.form-excluir {

    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: green;
    border-radius: 2%;
    width: 410px;
    padding: 30px;
}

/* Página "Meus Dados" */
.dados-form {
    grid-column: 1/13;
    grid-row: 1/12;
}

.dados-form h2 {
    color: var(--cor12);
}

.form-box {
    display: flex;
    justify-content: space-between;
}

.perfil {
    width: 47%;
}

.address {
    width: 47%;
}

.perfil span, .address span {
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid;
    border-color: var(--cor0);
    margin-top: 20px;
    color: var(--cor0);
    padding: 9px;
    background-color: var(--cor1);
}

.meus-dados-inputs {
    border: none;
    /* border-bottom: 1px dotted var(--cor4); */
    width: 70%;
    outline: none;
    padding-left: 5px;
    z-index: 1;
    background-color: transparent;
    font-size: 16px;
    color: var(--cor0);
    font-weight: bold;
    transition: 0.2s;
}

.btn-dados {
    display: block;
    height: 60px;
    width: 160px;
    margin: 100px auto;
    background-color: var(--cor0);
    color: var(--cor1);
    border: none;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s;
}

.btn-dados:hover {
    background-color: var(--cor12);
    color: var(--cor0);
}

/* Classes que devem estar no final para sobrescrever outras */
.btn-active {
    background-color: var(--cor0);
    color: var(--cor1);
}