:root{
    --cor0: #0070c0;
    --cor1: #f9f9f9;
    --cor2: #0070c07e;
    --cor3: #1B3E59;
    --cor4: #002540;
    --cor5: #3D8FCA;
    --cor6: #F2F2F2;
    --cor7: #D00000;
    --cor8: #740101;
    --cor9: #cdcdcd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

body {
    background-color: var(--cor6);
}

/* Página Index */
.cliente_main {
    width: 500px;
    height: 500px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    color: var(--cor0);
}

.logo {
    margin-bottom: 50px;
}

.cliente_main h2 {
    margin-bottom: 50px;
}

.cliente_options_div {
    width: 100%;
    height: 170px;
    background-color: var(--cor0);
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
}

.cliente_options_links {
    height: 100%;
    width: 14%;
    text-align: center;
    padding: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.cliente_options_links img {
    display: block;
    margin: 0 auto 15px;
}

.cliente_options_links:hover {
    background-color: rgb(40, 57, 148);
}

.cliente_options_links a {
    text-decoration: none;
    color: var(--cor1);
}

/* Template base_clientes */
.fullpage {
    display: flex;
}

.sidebar_upper {
    height: 25vh;
    width: 20vw;
    border: 1px solid var(--cor0);
    text-align: center;
}

.sb_upper_img {
    height: 85%;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-template {
    margin: auto;
}

.sb_upper_text {
    height: 15%;
    width: 100%;
    /* border: 1px solid brown; */
    display: flex;
    align-items: center;
}

.sb_upper_text h3 {
    font-size: 14px;
    color: var(--cor0);
    margin: auto;
}

.sb_upper_text a {
    color: inherit;
    transition: 0.2s;
}

.sb_upper_text a:hover {
    color: darkblue;
}

.sidebar_lower {
    height: 75vh;
    width: 20vw;
    padding-top: 10px;
    background-color: var(--cor0);
    text-align: center;
}

.sidebar_lower a{
    color: var(--cor1);
    text-decoration: none;
}

.sidebar_options {
    height: 55px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar_options:hover {
    background-color: rgb(40, 57, 148);
}

.sidebar_options img {
    margin: 0 15px 0 15px;    
}

.page {
    height: 100vh;
    width: 80vw;
}

.page_title {
    height: 5%;
    width: 97%;
    background-color: var(--cor0);
    color: var(--cor1);
    margin: 5.5vh auto 2.5vh auto;
    display: flex;
    align-items: center;
}

.page_title h3 {
    margin-left: 25px;
    font-weight: 100;
}

.page_content {
    height: 85%;
    width: 97%;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(12, 8.33%);
    padding: 20px;
}

/* Módulo "vehicle_type" */
.vehicle_type h2 {
    color: var(--cor3);
    margin-bottom: 10px;
}

.vehicle_type img {
    padding-right: 8px;
}

.vehicle_type #car {
    width: 25px;
}

.vehicle_type #moto {
    width: 23px;
}

.vehicle_type #others_vehicles {
    width: 29px;
}

.vehicle_type button {
    color: var(--cor0);
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    margin-right: 20px;
    height: 40px;
    padding: 5px 15px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.vehicle_type button:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

/* Módulo "vehicle_plate" */
.vehicle_plate_title {
    color: var(--cor3);
    margin-bottom: 10px;
}

.btn_vehicle_plate {
    color: var(--cor0);
    width: 125px;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    margin-right: 5px;
    height: 40px;
    padding: 5px 8px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn_vehicle_plate:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

.btn_vehicle_plate img {
    padding-right: 8px;
}

.btn_vehicle_plate #car {
    width: 25px;
}

.btn_vehicle_plate #moto {
    width: 23px;
}

.btn_vehicle_plate #others_vehicles {
    width: 29px;
}

/* Módulo "time" */
.time h2 {
    color: var(--cor3);
    margin-bottom: 10px;
}

.add_time {
    display: flex;
}

.add_time div {
    width: 115px;
    height: 120px;
    text-align: center;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 20px;
    margin-right: 20px;
    padding: 5px 5px;
    color: var(--cor0);
}

.add_time p {
    margin: 5px;
}

.add_time #minutes {
    font-weight: bold;
    font-size: 22px;
}

.add_time button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 28px;
    padding: 0;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    color: var(--cor1);
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.24);
    transition-duration: 0.3s;
}

.add_time button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}
  
.add_time button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(1.5px);
}

/* Módulo "button_confirm" */
.button_confirm button {
    width: 265px;
    height: 66px;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    color: var(--cor1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    font-size: 22px;
    cursor: pointer;
    transition-duration: 0.3s;
    position: relative;
    bottom: 0%;
}

.button_confirm button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}
  
.button_confirm button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(2px);
}


/* Módulo "total" */
.total {
    color: var(--cor0);
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 40px;
}

.total h1 {
    text-align: center;
}

.total h2 {
    font-weight: normal;
    color: var(--cor4);
    padding-top: 40px;
}

.informations {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
}

.informations img {
    width: 100px;
    margin-right: 10px;
}

.box {
    width: 100%;
    display: flex;
    background-color: var(--cor6);
    border: 1px solid var(--cor0);
}

.box p {
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
}

/* Módulo "date_filter" */
.date_filter button {
    color: var(--cor0);
    width: 145px;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    margin-right: 25px;
    padding: 8px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.date_filter button:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

.date {
    display: flex;
    margin-top: 20px;
}

.date h3 {
    color: var(--cor3);
    margin-bottom: 10px;
}

.date input {
    color: var(--cor3);
    outline: 0;
    padding: 8px;
    border: 1px solid var(--cor0);
    border-radius: 50px;
    width: 205px;
    font-size: 18px;
    display: flex;
    margin-right: 25px;
    background-color: var(--cor1);
}

#search {
    padding-top: 37px;
}

#search button {
    width: 100px;
    padding: 5px;
    margin: 0;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    color: var(--cor1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

#search button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}
  
#search button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(3px);
}

#search img {
    width: 22px;
    padding-right: 8px;
}

/* Módulo "add_credits" */
.add_credits h2 {
    color: var(--cor3);
    margin-bottom: 10px;
}

.values {
    display: flex;
    color: var(--cor0);
}

.values div {
    width: 115px;
    height: 93px;
    text-align: center;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 20px;
    margin-right: 20px;
    padding: 5px 5px;
}

.values p {
    margin: 5px;
    font-weight: bold;
    font-size: 22px;
}

.values button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 28px;
    padding: 0;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    color: var(--cor1);
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.24);
    transition-duration: 0.3s;
}

.values button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}
  
.values button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(2px);
}

.values input::-webkit-outer-spin-button,
.values input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#div-other {
    margin: 0;
    width: 172px;
    padding: 5px 8px;
    font-weight: bold;
}

#div-box {
    display: flex;
    padding: 0;
    margin-right: 0;
    width: 157px;
    height: 39px;
    margin-top: 9px;
    border: none;
}

#div-box button {
    font-size: 14px;
    margin: 0;
}

#div-box img {
    width: 18px;
    padding-top: 5px;
}

#div-value {
    margin-right: 5px;
    display: flex;
    height: 37px;
    padding: 5px 5px;
}

#div-value input {
    outline: 0;
    padding: 5px;
    width: 80px;
    display: flex;
    font-size: 20px;
    border: none;
    height: 25px;
    color: var(--cor0);
    font-weight: bold;
}

/* Módulo "payment_forms" */
.payment_method h2 {
    color: var(--cor3);
    margin-bottom: 10px;
}

.payment_method img {
    width: 50px;
}

.payment_method button {
    font-weight: bold;
    color: var(--cor0);
    width: 110px;
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    margin: 0 20px 0 0;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.payment_method button:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}



/* Módulo "button_remove" */
.button_remove {
    text-align: center;
}

.button_remove button {
    background-color: var(--cor7);
    padding: 0;
    margin: 0;
    border: 1px solid var(--cor7);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-duration: 0.3s;
}

.button_remove img {
    width: 40px;
    padding: 7px 6px 3px;
}

.button_remove button:hover {
    background-color: var(--cor8);
    border: 1px solid var(--cor8);
}
  
.button_remove button:active {
    background-color: var(--cor8);
    border: 1px solid var(--cor8);
    transform: translateY(2px);
}

.button_remove p {
    color: var(--cor7);
    margin: 0;
    font-size: 14px;
}

/* Módulo "add_plate" */
.add_plate h2 {
    margin-bottom: 10px;
    font-weight: normal;
    font-style: italic;
}

.add_plate input {
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    font-size: 18px;
    width: 150px;
    height: 40px;
    padding: 6px;
    color: var(--cor0);
    font-weight: bold;
    outline: 0;
    margin-right: 10px;
}

.add_plate input::placeholder {
    color: var(--cor2)
}

.add_plate img {
    width: 25px;
    padding-right: 5px;
    margin-top: 2px;
}

.add_plate button {
    color: var(--cor9);
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    font-size: 18px;
    height: 40px;
    padding: 7px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.24);
    transition-duration: 0.3s;
}

.add_plate button:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    color: var(--cor5);
}

.add_plate button:active {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    transform: translateY(1.5px);
}

/* Página "Estacionar" */
.vehicle_type_estacionar {
    grid-column: 1/8;
    grid-row: 1/3;
}

.vehicle_plate_estacionar {
    grid-column: 1/8;
    grid-row: 3/6;
}

.time {
    grid-column: 1/8;
    grid-row: 6/10;
}

.button_confirm {
    grid-column: 1/13;
    grid-row: 12/13;
    text-align: center;
}

.total {
    grid-column: 8/12;
    grid-row: 2/9;
}

/* Página "Extrato" */

/* Página "Adicionar Créditos" */

/* Página "Pagar NR" */

/* Página "Meus Veículos" */
.vehicle_plate_veiculos {
    grid-column: 1/8;
    grid-row: 1/4;
}

.plate_button {
    display: flex;
}

.vehicle_type_veiculos {
    grid-column: 1/13;
    grid-row: 4/7;
}

.vehicle_type_veiculos h2 {
    font-weight: normal;
    font-style: italic;
}

.vehicle_type_veiculos #title {
    margin-bottom: 20px;
    font-weight: bolder;
    font-style: normal;
}

.add_plate {
    grid-column: 1/13;
    grid-row: 7/12;
}

/* Página "Meus Dados" */