/* -------------------------------  GERAL  ------------------------------- */
:root{
    --cor0: #0070c0;
    --cor1: #f9f9f9;
    --cor2: #0070c07e;
    --cor3: #1B3E59;
    --cor4: #002540;
    --cor5: #3D8FCA;
    --cor6: #F2F2F2;
    --cor7: #D00000;
    --cor8: #740101;
    --cor9: #cdcdcd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Urbanist', sans-serif; */
    font-family: 'Century Gothic', sans-serif;
}

html, body {
    /* background-color: var(--cor0); */
    background-image: url('/static/imagens/Prefeitura_de_Blumenau_BG_Final.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.2s;
}

.div_home_input {
    display: flex;
}

.input_space {
    margin-top: 25px;
}

.home_input {
    border: none;
    border-bottom: 1px dotted var(--cor4);
    width: 100%;
    outline: none;
    padding: 5px;
    z-index: 1;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

.home_input::-webkit-outer-spin-button,
.home_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.home_input_label {
    position: absolute;
    transition: 0.15s;
    color: gray;
    font-weight: bold;
    transition: 0.2s;
}

.home_input:valid {
    color: gray;
    border-color: gray;
}

.home_input:focus {
    color: var(--cor0);
    border-color: var(--cor0);
}

.home_input:valid + label {
    color: gray;
    margin-top: -16px;
    font-size: 13px;
}

.home_input:focus + label {
    color: var(--cor0);
    margin-top: -16px;
    font-size: 13px;
}

.home_input:hover {
    color: var(--cor0);
    border-color: var(--cor0);
}

.home_input:hover + label {
    color: var(--cor0);
}

.home_messages {
    border: 1px solid var(--cor5);
    background-color: var(--cor5);
    color: var(--cor6);
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.btn{
    border-radius: 5px;  
    border: var(--cor0) 1px solid;
    background-color: transparent;
    color: var(--cor0);
    font-size: 19px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--cor0);
    color: var(--cor1);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--cor4);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}
  
.sidenav a {
    padding: 8px 8px 20px 25px;
    text-decoration: none;
    font-size: 19px;
    color: var(--cor5);
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: var(--cor1)
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 36px;
    /* margin-left: 50px; */
}

#sidenav {
    color: var(--cor1);
    cursor: pointer;
    padding: 25px;
    font-size: 19px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ---------------------------  Página "Login"  --------------------------- */
/* ---  HEAD  --- */
.div_upper {
    margin: 2vh auto;
    width: 80%;
    height: 17vh;
    display: flex;
    justify-content: space-between;
}

.div_upper_logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.div_upper_logo img {
    width: 350px;
}

.div_upper_nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_upper_nav a {
    color: var(--cor1);
    font-size: 22px; 
    font-weight: bold;
}

.div_upper_nav a:hover {
    color: var(--cor4);
}

/* ---  BODY  --- */
.div_body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_body_text{
    color: var(--cor6);
    width: 30%;
    height: 10rem;
    font-size: 22px;
}

.div_body_text h1{
    color: var(--cor6);
    margin-bottom: 15px;
}

.div_body_text h2{
    font-weight: 200;
}

.div_login_box {
    background-color: var(--cor1);
    border-radius: 2%;
    width: 375px;
    padding: 45px;
    text-align: center;
    margin-right: 5vw;
}

.div_login_box h1 {
    margin: 10px 0 70px 0;
    color: var(--cor0);
}

/* .div_select_user {
    width: 80%;
    margin: 50px auto 40px auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: gray;
} */

.div_login_box a {
    color: var(--cor0);
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.div_login_box a:hover {
    color: var(--cor4);
}

.div_login_box button {
    width: 150px;
    height: 40px;
    margin: 50px auto 0 auto;
}


/* ---------------------------  Página "Esqueci_Senha"  --------------------------- */
.esqueci_senha_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor1);
    border-radius: 2%;
    width: 410px;
    padding: 30px;
}

.esqueci_senha_form .logo {
    display: block;
    margin: auto;
    width: 60%;
    cursor: pointer;
}

.esqueci_senha_form h2 {
    margin: 55px 0 ;
    color: var(--cor0);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.esqueci_senha_form button {
    width: 170px;
    height: 50px;
    margin: 80px auto 10px auto;
}


/* ---------------------------  Página "Cadastro"  --------------------------- */
.main-cadastro {
    background-color: var(--cor1);
    border-radius: 10px;
    width: 450px;
    padding: 25px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.main-cadastro img {
    display: block;
    margin: auto;
    cursor: pointer;
}

.main-cadastro h2 {
    color: var(--cor0);
    /* font-size: 20px; */
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}

.div-register {
    margin-top: 25px;
}

.register_input {
    color: gray;
    height: 30px;
    display: block;
    margin-bottom: 20px;
}

.register_input:hover::placeholder, .register_input:focus::placeholder {
    color: var(--cor0);
}

.btn-cadastrar {
    display: block;
    margin: 20px auto;
    width: 165px;
    height: 45px;
}

/* ---------------------------  Página Perguntas Frequentes"  --------------------------- */
.perguntas-frequentes {
    width: 60%;
}

.accordion {
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
    color: var(--cor0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin: 8px auto;
}
  
.active, .accordion:hover {
    background-color: var(--cor4);
    color: var(--cor5);
    border: 1px solid var(--cor4);
}
  
.accordion:after {
    content: '\002B';
    color: var(--cor0);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.panel {
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: var(--cor4);
    font-size: 16px;
    text-align: justify;
}

/* ---------------------------  Página "Sobre Nós"  --------------------------- */
.sobre-nos {
    width: 60%;
    color: var(--cor0);
    text-align: justify;
}

.sobre-nos div {
    margin-bottom: 20px;
}

.sobre-nos h3 {
    margin-bottom: 5px;
    color: var(--cor4);
}


/* ---------------------------  Página "Contato"  --------------------------- */
.contato input, textarea {
    outline: none;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--cor0);
    border-radius: 5px;
    margin-bottom: 8px;
    color: var(--cor0);
    font-size: 16px;
}

.contato textarea {
    height: 80px;
}

.contato button {
    margin: 10px auto;
}
