/* -------------------------------  GERAL  ------------------------------- */
:root {
    --cor0: #0070c0;
    --cor1: #f9f9f9;
    --cor2: #0070c07e;
    --cor3: #1B3E59;
    --cor4: #002540;
    --cor5: #3D8FCA;
    --cor6: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html, body {
    background-image: url("../imagens/Prefeitura_de_Blumenau_BG_Final.png");
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.2s;
}

.div_home_input {
    display: flex;
}

.input_space {
    margin-top: 25px;
}

.home_input {
    border: none;
    border-bottom: 1px dotted var(--cor4);
    width: 100%;
    outline: none;
    padding: 5px;
    z-index: 1;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

.home_input::-webkit-outer-spin-button,
.home_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.home_input_label {
    position: absolute;
    transition: 0.15s;
    color: gray;
    font-weight: bold;
    transition: 0.2s;
}

.home_input:valid {
    color: gray;
    border-color: gray;
}

.home_input:focus {
    color: var(--cor0);
    border-color: var(--cor0);
}

.home_input:valid + label {
    color: gray;
    margin-top: -16px;
    font-size: 13px;
}

.home_input:focus + label {
    color: var(--cor0);
    margin-top: -16px;
    font-size: 13px;
}

.home_input:hover {
    color: var(--cor0);
    border-color: var(--cor0);
}

.home_input:hover + label {
    color: var(--cor0);
}

.btn{
    border-radius: 5px;  
    border: var(--cor0) 1px solid;
    background-color: transparent;
    color: var(--cor0);
    font-size: 19px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--cor0);
    color: var(--cor1);
}


/* ---------------------------  Página "Login"  --------------------------- */
/* ---  HEAD  --- */
.div_upper {
    margin: 2vh auto;
    width: 80%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
}

.div_upper_logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.div_upper_logo img {
    width: 300px;
}

.div_upper_nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_upper_nav a {
    color: var(--cor1);
    font-size: 20px; 
    font-weight: bold;
}

.div_upper_nav a:hover {
    color: var(--cor4);
}

/* ---  BODY  --- */
.div_body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_body_text{
    color: var(--cor1);
    width: 30%;
    height: 10rem;
    font-size: 22px;
}

.div_body_text h2{
    font-weight: 700;
    color: var(--cor1);
}

.div_body_text h3{
    font-weight: 200;
}

.div_login_box {
    background-color: var(--cor1);
    border-radius: 2%;
    width: 360px;
    height: 440px;
    padding: 30px;
    text-align: center;
    margin-right: 5vw;
}

.div_login_box h1 {
    margin-top: 10px;
    color: var(--cor0);
}

.div_select_user {
    width: 80%;
    margin: 50px auto 40px auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: gray;
}

.div_login_box a {
    color: var(--cor0);
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.div_login_box a:hover {
    color: var(--cor4);
}

.div_login_box button {
    width: 150px;
    height: 40px;
    margin: 30px auto 0 auto;
}


/* ---------------------------  Página "Esqueci_Senha"  --------------------------- */
.esqueci_senha_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor1);
    border-radius: 2%;
    width: 410px;
    height: 460px;
    padding: 30px;
}

.esqueci_senha_form .logo {
    display: block;
    margin: auto;
    width: 60%;
    cursor: pointer;
}

.esqueci_senha_form h2 {
    margin: 55px 0 45px 0;
    color: var(--cor0);
    font-size: 19px;
    font-family: 'Urbanist', sans-serif;
}

.esqueci_senha_form button {
    width: 170px;
    height: 50px;
    margin: 80px auto 0 auto;
}


/* ---------------------------  Página "Cadastro"  --------------------------- */
main {
    background-color: var(--cor1);
    border-radius: 10px;
    width: 700px;
    height: 550px;
    padding: 25px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.main-cadastro img {
    display: block;
    margin: auto;
    cursor: pointer;
}

.main-cadastro p {
    color: var(--cor0);
    font-weight: bold;
    margin-top: 30px;
}

.div-register {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.register-right {
    width: 270px;
}

.register-left {
    width: 270px;
}

.register_input {
    color: gray;
    margin-bottom: 6px;
}

.register_input:hover::placeholder, .register_input:focus::placeholder {
    color: var(--cor0);
}

.btn-cadastrar {
    display: block;
    margin: 40px auto;
    width: 165px;
    height: 40px;
}
