{% extends 'base_home.html' %}
{% load static %}

{% block content %}
<main class='main-cadastro'>
    <img src="{% static 'imagens/Logo-A-provisorio.png'%}" height="75px" alt="Logo Área Azul" onclick="location.href='{% url 'login' %}'">
    <p>Cadastre-se</p>
    <div class="div-register">
        <div class="register-left">
            <input type="number" name="CPF" size="30" placeholder="CPF/ CNPJ/ Cadastro" class="home_input register_input" required>
            <input type="text" name='Nome' size="30" placeholder="Nome / Razão Social" class="home_input register_input" required>
            <input type="email" name="E-mail" size="30" placeholder="E-mail" class="home_input register_input" required>
            <input type="password" name="Senha" size="30" placeholder="Senha" class="home_input register_input" required>
            <input type="password" name="Confirmação da Senha" size="30" placeholder="Confirmação da Senha" class="home_input register_input" required>
            <input type="text" name="Nascimento" size="30" placeholder="Data de Nascimento" class="home_input register_input" onfocus="(this.type='date')" onblur="(this.type='text')" required>
            <input type="number" name="Telefone 1" size="30" placeholder="Telefone 1" class="home_input register_input" required>
            <input type="number" name="Telefone 2" size="30" placeholder="Telefone 2" class="home_input register_input">
            <input type="number" name="CEP" size="30" placeholder="CEP" class="home_input register_input" required>
        </div>

        <div class="register-right">
            <input type="text" name="Estado" size="30" placeholder="Estado" class="home_input register_input" required>
            <input type="text" name="Cidade" size="30" placeholder="Cidade" class="home_input register_input" required>
            <input type="text" name="Bairro" size="30" placeholder="Bairro" class="home_input register_input" required>
            <input type="text" name="Rua" size="30" placeholder="Rua" class="home_input register_input" required>
            <input type="text" name="Número" size="30" placeholder="Número" class="home_input register_input" required>
            <input type="text" name="Complemento" size="30" placeholder="Complemento" class="home_input register_input">
            <button type="button" class="btn btn-cadastrar">Cadastrar</button>
        </div>       
    </div>
</main>
{% endblock %}