{% extends 'base_home.html' %}
{% load static %}

{% block content %}
<main class='main-cadastro'>
    <img src="{% static 'imagens/Logo-A-provisorio.png'%}" height="75px" alt="Logo Área Azul" onclick="location.href='{% url 'login' %}'">
    <p>Cadastre-se</p>
    <form class="div-register" method="POST" action="">
        {% csrf_token %}
        
        <div class="div_home_input">
            {{form.username}}
            <label for="Login" class="home_input_label">CPF/CNPJ</label>
        </div>

        <div class="div_home_input">
            {{form.first_name}}
            <label for="nome" class="home_input_label">Nome</label>
        </div>

        <div class="div_home_input">
            {{form.email}}
            <label for="e-mail" class="home_input_label">E-mail</label>
        </div>

        <div class="div_home_input">
            {{form.password1}}
            <label for="password1" class="home_input_label">Senha</label>
        </div>
        
        <div class="div_home_input">
            {{form.password2}}
            <label for="password2" class="home_input_label">Confirmar Senha</label>
        </div>

        {{form.errors}}

        <button type="submit" class="btn btn-cadastrar">Cadastrar</button>   
    </form>
</main>
<script>
    var form_fields = document.getElementsByTagName("input");
    // form_fields[1].placeholder = "Usuário";
    // form_fields[2].placeholder = "Email";
    // form_fields[3].placeholder = "Senha";
    // form_fields[4].placeholder = "Confirmação de senha";

    for (var field in form_fields) {
      form_fields[field].className += "home_input register_input";
    }
</script>
{% endblock %}