{% extends 'base_home.html' %}
{% load static %}

{% block content %}
<div class="sidenav" id="mySidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'login' %}">Home / Login</a>
    <a href="{% url 'perguntas_frequentes' %}">Perguntas Frequentes</a>
    <a href="{% url 'sobre_nos' %}">Sobre Nós</a>
    <a href="{% url 'contato' %}">Contato</a>
</div>
<div id="sidenav"><span onclick="openNav()">&#9776; Menu</span></div>
<main class="main-cadastro contato">
    <img src="{% static 'imagens/Logo-A-provisorio.png'%}" height="75px" alt="Logo Área Azul" onclick="location.href='{% url 'login' %}'">
    <h2>Contato</h2>
    <div>
        <input type="text" name="Nome" placeholder="NOME" required>
        <input type="text" name="E-mail" placeholder="E-MAIL" required>
        <input type="text" name="Telefone" placeholder="TELEFONE" required>
        <input type="text" name="Cidade" placeholder="CIDADE" required>
        <input type="text" name="Assunto" placeholder="ASSUNTO" required>
        <textarea name="subject" placeholder="MENSAGEM"></textarea>
    </div>
    <button type="button" class="btn btn-cadastrar">Enviar</button>
</main>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
{% endblock %}
