{% extends 'home/base_home.html' %}
{% load static %}

{% block content %}

{% include 'partials/_sidenav.html' %}

<form class="esqueci_senha_form" action="" id="form" method="POST">
    {% csrf_token %}
    <img src="{% static 'imagens/Logo-A-provisorio.png' %}" alt="Logo Área Azul" class="logo" onclick="location.href='{% url 'login' %}'">
    <h2>Esqueci minha senha</h2>
    <div class="div_home_input">
        {{form.email}}
        <label for="log_input" class="home_input_label">E-mail</label>
    </div>
    <button type="submit" class="btn" disabled>Enviar</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/

    $('#id_email').addClass("home_input")
    $('#id_email').keyup(function() {
        let validEmail = $("#id_email").val()
        if (!emailReg.test(validEmail) == false) document.getElementsByClassName('btn')[0].disabled = false
        else {
            document.getElementsByClassName('btn')[0].disabled = true
        }
    });
 
</script>
{% endblock %}
