{% extends 'home/base_home.html' %}
{% load static %}

{% block content %}

<div class="div_upper">
    <div class="div_upper_logo">
        <img src="{% static 'imagens/Logo-B-provisorio.png'%}" alt="areaazul-logo" class="logo">
    </div>

    <div class="div_upper_nav">
        <a href="">Home</a>
        <a href="{% url 'perguntas_frequentes' %}">Perguntas Frequentes</a>
        <a href="{% url 'sobre_nos' %}">Sobre Nós</a>
        <a href="{% url 'contato' %}">Contato</a>
    </div>
</div>

<div class="div_body">
    <div class="div_body_text">
        <h1>Desde 1984</h1>
        <h2>Agora mais prático e rápido para estacionar no centro de Blumenau.</h2>
    </div>

    <div class="div_login_box">
        <h1>Faça seu login</h1>

        <form action="" method="POST">
            {% csrf_token %}

            <div class="div_home_input">
                <input type="text" class="home_input" id="username" name="username" onkeyup="verifyLogin()" autocomplete="off" maxlength="14" required>
                <label for="username" class="home_input_label">CPF</label>
            </div>
            <div class="div_home_input input_space">
                <input type="password" class="home_input" id="password" name="password" onkeyup="verifyLogin()" required>
                <label for="password" class="home_input_label">Senha</label>
            </div>
        
            <a href="{% url 'esqueci_senha' %}">Esqueci minha senha</a>

            {% if messages %}
                {% for message in messages %}
                
                    <div class="home_messages {{message.tags}}">
                        <p>{{message}}</p><button type="button" class="btn-close" onclick="deletarMensagem(this)">&times;</button>
                    </div>
        
                {% endfor %}
            {% endif %}

            <button class="btn btn-login" type="submit" disabled>Continuar</button>
            <a href="{% url 'cadastro' %}">Ainda não sou cadastrado</a>
        </form>
    </div>
</div>

{% endblock %}