{% load static %}
<!-- Colocar o nome da classe da div como "add_credits" -->
<h2>Adicionar:</h2>
<div class="values">
    <div>
        <p>R$ 5,00</p>
        <button onclick="reduzirCreditos(5)">-</button>
        <button onclick="aumentarCreditos(5)">+</button>
    </div>
    <div>
        <p>R$ 20,00</p>
        <button onclick="reduzirCreditos(20)">-</button>
        <button onclick="aumentarCreditos(20)">+</button>
    </div>
    <div>
        <p>R$ 50,00</p>   
        <button onclick="reduzirCreditos(50)">-</button>
        <button onclick="aumentarCreditos(50)">+</button>
    </div>
        <div id="div-other">
        <p>Outro</p>
        <div id="div-box">
            <div id="div-value">
                <span>R$</span>
                <input type="number" placeholder="0,00" id="aumento-creditos-custom">
            </div>
            <button onclick="aumentarCreditosCustom()"><img src="{% static 'imagens/check.png' %}" alt="Check"></button>
        </div>
    </div>
</div>