{% load static %}
<form>
    <div class="filtros">
        <div class="campo-filtros"><p>Movimento:</p>{{operation_filter.form.operation_type}}</div>
        <div class="campo-filtros"><p>Forma de Pagamento:</p>{{operation_filter.form.payment_method}}</div>
        <div class="campo-filtros"><p>Veiculo:</p>{{operation_filter.form.vehicle}}</div>
        <div class="campo-filtros"><p>Valor Inicial:</p>{{operation_filter.form.start_value}}</div>
        <div class="campo-filtros"><p>Valor Final:</p>{{operation_filter.form.end_value}}</div>
    </div>

    <div class="date_filter">
        <button id="filter-today" onclick="setToday()">Data Atual</button>
        <button id="filter-today" onclick="setLastWeek()">Últimos 7 dias</button>
        <button id="filter-this-month" onclick="setThisMonth()">Mês Atual</button>
        <button id="filter-this-year" onclick="setThisYear()">Ano Atual</button>
        <div class="date">
            <div>
                <h3>Data Inicial:</h3>
                {{operation_filter.form.start_date}}
            </div>
            <div>
                <h3>Data Final:</h3>
                {{operation_filter.form.end_date}}
            </div>
            <div id="search">
                <button type="submit"><img src="{% static 'imagens/lupa.png' %}" alt="Lupa">Buscar</button>
            </div>
        </div>
    </div>

</form>