{% load static %}
<div class="date_filter">
    <button>Dia atual</button>
    <button>Mês atual</button>
    <button>Ano Atual</button>
    <button>Personalizado</button>
    <div class="date">
        <div>
            <h3>Data Inicial:</h3>
            <input type="text" onkeyup="mascara_data(this, this.value)"> 
        </div>
        <div>
            <h3>Data Final:</h3>
            <input type="text" onkeyup="mascara_data(this, this.value)">
        </div>
        <div id="search">
            <button><img src="{% static 'imagens/lupa.png' %}" alt="Lupa">Buscar</button>
        </div>
    </div>
</div>