{% load static %}
<form>
    Movimento: {{operation_filter.form.operation_type}}
    Forma de Pagemento: {{operation_filter.form.payment_method}}
    <!-- {{operation_filter.form.vehicle}} -->
    Valor Inicial: {{operation_filter.form.start_value}}
    Valor Final: {{operation_filter.form.end_value}}
    <div class="date_filter">
        <button id="filter-today">Dia atual</button>
        <button id="filter-this-month">Mês atual</button>
        <button id="filter-this-year">Ano Atual</button>
        <div class="date">
            <div>
                <h3>Data Inicial:</h3>
                {{operation_filter.form.start_date}}
            </div>
            <div>
                <h3>Data Final:</h3>
                {{operation_filter.form.end_date}}
            </div>
            <div id="search">
                <button type="submit"><img src="{% static 'imagens/lupa.png' %}" alt="Lupa">Buscar</button>
            </div>
        </div>
    </div>
</form>