{% load static %}
<table class="table table table-striped table-hover">
    <thead>
        <tr>
        <th class="back_color" scope="col">Data</th>
        <th class="back_color" scope="col">Hora</th>
        <th class="back_color" scope="col">Movimento</th>
        <th class="back_color" scope="col">Placa</th>
        <th class="back_color" scope="col">Valor</th>
        <th class="back_color" scope="col">Saldo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">10/09/2021</th>
        <td>14:00</td>
        <td>Compra de créditos</td>
        <td>CMV 1245</td>
        <td>R$ 20,00</td>
        <td>R$ 20,00</td>
        </tr>
        <tr>
        <th scope="row">10/09/2021</th>
        <td>14:00</td>
        <td>Estacionamento</td>
        <td>CMV 1245</td>
        <td>R$ 2,00</td>
        <td>R$ 0,00</td>
        </tr>
        <tr>
        <th scope="row">10/09/2021</th>
        <td>14:00</td>
        <td>Estacionamento</td>
        <td>CMV 1245</td>
        <td>R$ 10,00</td>
        <td>R$ 10,00</td>
        </tr>
    </tbody>
</table>
