{% load static %}
<table class="tabela-extrato">
    <tr id="top">
        <th>Data</th>
        <th>Movimento</th>
        <th>Pagamento</th>
        <th>Placa</th>
        <th>Valor</th>
        <th class="saldo">Saldo</th>
    </tr>
    {% for operation in operations %}
        <tr>
            <td>{{operation.date}}</td>
            <td>{{operation.operation_type}}</td>
            <td>{% if operation.payment_method %}{{operation.payment_method}}{% else %}---{% endif %}</td>
            <td>{% if operation.vehicle %}{{operation.vehicle}}{% else %}---{% endif %}</td>
            <td>R$ {{operation.value|floatformat:2}}</td>
            <td class="saldo">R$ {{operation.balance|floatformat:2}}</td>
        </tr>
    {% endfor %}
</table>
<!-- <div class="pagination">
    <a href="#">&laquo;</a>
    <a class="active"href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">&raquo;</a>
</div> -->
<table class="tabela-total">
    <td>Saldo</td>
    <td>R$ {{client.credits|floatformat:2}}</td>
</table>
