{% load static %}
<table class="tabela-extrato">
    <tr id="top">
        <th>Data</th>
        <th>Hora</th>
        <th>Movimento</th>
        <th>Pagamento</th>
        <th>Placa</th>
        <th>Valor</th>
        <th class="saldo">Saldo</th>
    </tr>
    {% for operation in operations %}
        <tr>
            <td>{{operation.date|date:"d/m/Y"}}</td>
            <td>{{operation.date|date:"H:i"}}</td>
            <td>{{operation.operation_type}}</td>
            <td>{% if operation.payment_method %}{{operation.payment_method}}{% else %}---{% endif %}</td>
            <td>{% if operation.vehicle %}{{operation.vehicle}}{% else %}---{% endif %}</td>
            <td>
                {% if operation.operation_type == 'Compra de Créditos' %}
                    R$ {{operation.value|floatformat:2}}
                {% else %}
                    <span class="td-value-negative">- R$ {{operation.value|floatformat:2}}</span>
                {% endif %}
            </td>
            <td class="saldo">R$ {{operation.balance|floatformat:2}}</td>
        </tr>
    {% endfor %}
</table>

<div class="pagination">
    {% for pagina in operations.paginator.page_range %}
        {% if operations.number == pagina %}
            <!-- <a href="#">&laquo;</a> -->
            <a class="page-link page-active" href="?page={{pagina}}">{{pagina}}</a>
            <!-- <a href="#">&raquo;</a> -->
        {% else %}
            <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
        {% endif %}
    {% endfor %}
</div>
<table class="tabela-total">
    <td>Saldo</td>
    <td>R$ {{client.credits|floatformat:2}}</td>
</table>
