{% load static %}

<div class="vehicle_type">
    <h2>Tipo de Veículo:</h2>
    <button class='btn-vehicle-type' id='btn-type-car'><img src="{% static 'imagens/img_carro_az.png' %}" alt="Carro Azul" id="car">Carro</button>
    <button class='btn-vehicle-type' id='btn-type-moto'><img src="{% static 'imagens/img_moto_az.png' %}" alt="Moto Azul" id="moto">Moto</button>
    <button class='btn-vehicle-type' id='btn-type-other'><img src="{% static 'imagens/img_demais_az.png' %}" alt="Caminhão Azul" id="others_vehicles">Demais Veículos</button>
</div>