{% extends 'base_clientes.html' %}
{% load static %}

{% block content %}
    <div class="add_credits">
        {% include 'partials/_add_credits.html' %}
    </div>
    <div class="payment_method_add_credits">
        {% include 'partials/_payment_method.html' %}
    </div>
    <div class="informations_add_credits">
        <h2>Valor a Adicionar:</h2>
        <div class="informations">
            <img src="{% static 'imagens/valor.png' %}" alt="stylesheet">
            <div class="box">
                <p>R$ 2,20</p>
            </div>
        </div>
    </div>
    <div class="button_confirm">
        <button>Confirmar</button>
    </div>
{% endblock %}