{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}
    <script>
        let pageTitle = document.getElementById('page-title')
        pageTitle.innerHTML = 'Adicionar Créditos'
    </script>

    <div class="add_credits">
        {% include 'partials/_add_credits.html' %}
    </div>

    <form id="add-credits-form">
        {% csrf_token %}
        <div class="informations_add_credits">

            <div id="saldo_add_credits">
                <h2>Saldo Atual:</h2>
                <div class="informations">
                    <img src="{% static 'imagens/valor.png' %}" alt="stylesheet">
                    <div class="box">
                        <p>R$ <span id="saldo-atual">{{user.client.credits|floatformat:2}}</span></p>
                    </div>
                </div>
            </div>

            <div id="saldo_add_credits">
                <h2>Valor a Adicionar:</h2>
                <div class="informations">
                    <img src="{% static 'imagens/valor2.png' %}" alt="stylesheet">
                    <div class="box">
                        <p class="total-creditos">R$ 0,00</p>
                    </div>
                </div>
            </div>

            <div>
                <h2>Saldo Final:</h2>
                <div class="informations">
                    <img src="{% static 'imagens/Adicionar_Creditos_Blue.png' %}" alt="stylesheet">
                    <div class="box">
                        <p id="saldo-final"></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="payment_method_add_credits">
            {% include 'partials/_payment_method.html' %}
        </div>

        <div class="cliente_messages msg-success" id="div-msg-creditos" style="display: none;">
            <p id="msg-credito-adicionado"></p><button type="button" class="btn-close" onclick="deletarMensagem(this)">&times;</button>
        </div>

        <div class="button_confirm">
            <button type="submit" id="btn-confirm-credits" onclick="forcedReload()" disabled>Confirmar</button>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        function forcedReload() {
            setTimeout(function() {
                window.location.reload(true)
            }, 3000);
        }


        function deletarMensagem(botao) {
            botao.parentElement.remove()
        }


        var imgCredit = document.getElementById('img-credit')
        var imgDebit = document.getElementById('img-debit') 
        var imgPix = document.getElementById('img-pix')


        function hoverImgColor(img) {
            if (img == 'white_credit') imgCredit.src="{% static 'imagens/cartão_white.png' %}"
            if (img == 'white_debit') imgDebit.src="{% static 'imagens/cartão_white.png' %}"
            if (img == 'white_pix') imgPix.src="{% static 'imagens/pix_white.png' %}"
        }


        function backImgColor(btn, img) {
            if (btn.classList.contains('btn-active')) return
            if (img == 'blue_credit') imgCredit.src="{% static 'imagens/cartão.png' %}"
            if (img == 'blue_debit') imgDebit.src="{% static 'imagens/cartão.png' %}"
            if (img == 'blue_pix') imgPix.src="{% static 'imagens/pix.png' %}"
        }


        function changeImgColor(botao) {
            imgCredit.src="{% static 'imagens/cartão.png' %}"
            imgDebit.src="{% static 'imagens/cartão.png' %}"
            imgPix.src="{% static 'imagens/pix.png' %}"
            if (botao == btnCredito) imgCredit.src="{% static 'imagens/cartão_white.png' %}"
            if (botao == btnDebito) imgDebit.src="{% static 'imagens/cartão_white.png' %}"
            if (botao == btnPix) imgPix.src="{% static 'imagens/pix_white.png' %}"
        }
        
        
        btnConfirmCredits = document.getElementById('btn-confirm-credits')

        function btnAbleDisable() {
            if (totalCreditos > 0 && payment_method != '') btnConfirmCredits.disabled = false
            else {
                btnConfirmCredits.disabled = true
            }
        }

        /* Botões Adicionar Créditos */
        let inputAumentoCustom = document.getElementById('aumento-creditos-custom')
        let displayCreditos = document.querySelector('.total-creditos')
        let saldoAtual = document.getElementById('saldo-atual').innerHTML
        let displaySaldoFinal = document.querySelector('#saldo-final')

        saldoAtual = saldoAtual.replace(/,/g, '.')
        saldoAtual = parseFloat(saldoAtual)

        let totalCreditos = 0
        let saldoFinal = saldoAtual
        displaySaldoFinal.innerHTML = `R$ ${saldoFinal.toFixed(2).replace(".", ',')}`

        function aumentarCreditos(valor) {
            totalCreditos += valor
            displayCreditos.innerHTML = `R$ ${totalCreditos.toFixed(2).replace(".", ',')}`
            saldoFinal = saldoAtual + totalCreditos
            displaySaldoFinal.innerHTML = `R$ ${saldoFinal.toFixed(2).replace(".", ',')}`
            btnAbleDisable()
        }

        function reduzirCreditos(valor) {
            totalCreditos -= valor
            if (totalCreditos < 0) totalCreditos = 0
            displayCreditos.innerHTML = `R$ ${totalCreditos.toFixed(2).replace(".", ',')}`
            saldoFinal = saldoAtual + totalCreditos
            displaySaldoFinal.innerHTML = `R$ ${saldoFinal.toFixed(2).replace(".", ',')}`
            btnAbleDisable()
        }

        function aumentarCreditosCustom() {
            if (inputAumentoCustom.value < 0) inputAumentoCustom.value = 0
            if (inputAumentoCustom.value != '') {
                totalCreditos += parseFloat(inputAumentoCustom.value)
                displayCreditos.innerHTML = `R$ ${totalCreditos.toFixed(2).replace(".", ',')}`
                saldoFinal = saldoAtual + totalCreditos
                displaySaldoFinal.innerHTML = `R$ ${saldoFinal.toFixed(2).replace(".", ',')}`
                btnAbleDisable()
            }
        }

        function zerarCreditos() {
            totalCreditos = 0
            displayCreditos.innerHTML = `R$ ${totalCreditos.toFixed(2).replace(".", ',')}`
            saldoFinal = saldoAtual + totalCreditos
            displaySaldoFinal.innerHTML = `R$ ${saldoFinal.toFixed(2).replace(".", ',')}`
            btnAbleDisable()
        }

        /* Botões Método de Pagamento */
        let btnCredito = document.getElementById('btn-credito')
        let btnDebito = document.getElementById('btn-debito')
        let btnPix = document.getElementById('btn-pix')
        
        var payment_method = ''

        function btnActive(botao1, botao2, botao3, pagamento) {
            botao2.classList.remove('btn-active')
            botao3.classList.remove('btn-active')
            botao1.classList.add('btn-active')
            payment_method = pagamento
            changeImgColor(botao1)
            btnAbleDisable()
        }
        
        msgCreditos = document.getElementById('msg-credito-adicionado')
        msgCreditos.innerHTML = `Créditos adicionados à sua conta com sucesso!`

        $(document).on('submit', '#add-credits-form', function(){ 
            $('#msg-credito-adicionado').html(`R$${totalCreditos.toFixed(2).replace(".", ',')} em créditos foram adicionados à sua conta com sucesso! Aguarde e a página será recarregada.`)

            $.ajax({
                type: 'POST',
                url: '',
                data: {
                    value: totalCreditos,
                    payment_method: payment_method,
                    operation: 'Compra de Créditos',
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                beforeSend:function(html) {
                    setTimeout(function(){
                        $("#div-msg-creditos").fadeIn()
                    }, 3000);
                },
                success:function() {
                    $("#div-msg-creditos").fadeIn()
                    setTimeout(function() {
                        $("#div-msg-creditos").fadeOut()
                    }, 3000);
                }

            });

            return false
        });

    </script>
{% endblock %}