{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}
    <script>
        document.getElementById('page-title').innerHTML = 'Adicionar Créditos'
    </script>

    <div class="informations_add_credits">

        <div id="saldo_add_credits">
            <h2 class="add-creditos-title">Saldo Atual:</h2>
            <div class="informations">
                <img src="{% static 'imagens/valor.png' %}" alt="stylesheet">
                <div class="box">
                    <p>R$ <span id="saldo-atual">{{user.client.credits|floatformat:2}}</span></p>
                </div>
            </div>
        </div>

        <div id="saldo_add_credits">
            <h2 class="add-creditos-title">Valor a Adicionar:</h2>
            <div class="informations">
                <img src="{% static 'imagens/valor2.png' %}" alt="stylesheet">
                <div class="box">
                    <p class="total-creditos">R$ 0,00</p>
                </div>
            </div>
        </div>

        <div>
            <h2 class="add-creditos-title">Saldo Final:</h2>
            <div class="informations">
                <img src="{% static 'imagens/Adicionar_Creditos_Blue.png' %}" alt="stylesheet">
                <div class="box" style="border-color: var(--cor12);">
                    <p id="saldo-final" style="color: var(--cor12);"></p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="add_credits">
        {% include 'partials/_add_credits.html' %}
    </div>

    <div class="payment_method_add_credits">
        {% include 'partials/_payment_method.html' %}
    </div>

    <div class="cliente_messages msg-success" id="div-msg-creditos" style="display: none;">
        <p id="msg-credito-adicionado"></p><button type="button" class="btn-close" onclick="deletarMensagem(this)">&times;</button>
    </div>

    <form id="add-credits-form">
        {% csrf_token %}
        <div class="button_confirm">
            <button type="submit" id="btn-confirm-credits" onclick="forcedReload()" disabled>Confirmar</button>
        </div>
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/adicionar_creditos.js' %}"></script>
    <script>
        // Changing the color of payment_method images.
        var imgCredit = document.getElementById('img-credit')
        var imgDebit = document.getElementById('img-debit') 
        var imgPix = document.getElementById('img-pix')

        function hoverImgColor(img) {
            if (img == 'white_credit') imgCredit.src="{% static 'imagens/cartão_white.png' %}"
            if (img == 'white_debit') imgDebit.src="{% static 'imagens/cartão_white.png' %}"
            if (img == 'white_pix') imgPix.src="{% static 'imagens/pix_white.png' %}"
        }


        function backImgColor(btn, img) {
            if (btn.classList.contains('btn-active')) return
            if (img == 'blue_credit') imgCredit.src="{% static 'imagens/cartão.png' %}"
            if (img == 'blue_debit') imgDebit.src="{% static 'imagens/cartão.png' %}"
            if (img == 'blue_pix') imgPix.src="{% static 'imagens/pix.png' %}"
        }


        function changeImgColor(botao) {
            imgCredit.src="{% static 'imagens/cartão.png' %}"
            imgDebit.src="{% static 'imagens/cartão.png' %}"
            imgPix.src="{% static 'imagens/pix.png' %}"
            if (botao == btnCredito) imgCredit.src="{% static 'imagens/cartão_white.png' %}"
            if (botao == btnDebito) imgDebit.src="{% static 'imagens/cartão_white.png' %}"
            if (botao == btnPix) imgPix.src="{% static 'imagens/pix_white.png' %}"
        }

    </script>
{% endblock %}