{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Área Azul - Blumenau</title>
  
  <link rel="stylesheet" href="{% static 'cliente.css' %}">
</head>
<body>
    <div class="fullpage">

        <div class="sidebar">
            <div class="sidebar_upper">
                <div class="sb_upper_img">
                    <img src="{% static 'imagens/Logo-A-provisorio.png' %}" alt="Logo Área Azul" width="70%" class="logo-template" onclick="location.href='{% url 'index' %}'">
                </div>
                <div class="sb_upper_text">
                    <h3>Olá, <a href="{% url 'index' %}">{{user.client.name}}!</a></h3>
                </div>
            </div>

            <div class="sidebar_lower">
                <div class="sidebar_options" onclick="location.href='{% url 'estacionar' user.client.id %}'">
                    <img src="{% static 'imagens/Estacionar.png' %}" alt="Icone Estacionar" width="25"><a href="{% url 'estacionar' user.client.id %}">Estacionar</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'extrato' user.client.id %}'">
                    <img src="{% static 'imagens/Extrato.png' %}" alt="Icone Extrato" width="25"><a href="{% url 'extrato' user.client.id %}">Extrato</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'creditos' user.client.id %}'">
                    <img src="{% static 'imagens/Adicionar_Creditos.png' %}" alt="Icone Adicionar_Creditos" width="25"><a href="{% url 'creditos' user.client.id %}">Adicionar Créditos</a>
                </div>
                <div class="sidebar_options div_disabled">
                    <img src="{% static 'imagens/Pagar_Multa.png' %}" alt="Icone Pagar_Multa" width="25"><a class="disabled">Pagar NR</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'veiculos' user.client.id %}'">
                    <img src="{% static 'imagens/Meus_Veiculos.png' %}" alt="Icone Meus_Veiculos" width="25"><a href="{% url 'veiculos' user.client.id %}">Meus Veículos</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'dados' user.client.id %}'">
                    <img src="{% static 'imagens/Meus_Dados.svg' %}" alt="Icone Meus_Dados" width="25"><a href="{% url 'dados' user.client.id %}">Meus Dados</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'logout' %}'">
                    <img src="{% static 'imagens/Sair.png' %}" alt="Icone Sair" width="25"><a href="{% url 'logout' %}">Sair</a>
                </div>
            </div>
        </div>

        <div class="page">
            <div class="page_title">
                <h3 id='page-title'>Titulo da Página</h3>
            </div>
            <div class="page_content">
                {% block content %}{% endblock %}   
            </div>
        </div>

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>