{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}
<form action='' method='POST' class='dados-form' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-box">
        <div class="perfil">
            <h2>Perfil:</h2>
            <span>CPF: {{user.username}}</span>
            <span>Nome: {{clientForm.name}}</span>
            <span>E-mail: {{clientForm.email}}</span>
            <span>Telefone 01: {{clientForm.phone1}}</span>
            <span>Telefone 02: {{clientForm.phone2}}</span>
            <span id='import-img'>{{clientForm.profile_pic}}</span>
        </div>
        <div class="address">
            <h2>Endereço:</h2>
            <span>CEP: {{addressForm.zip_code}}</span>
            <span>Estado: {{addressForm.state}}</span>
            <span>Cidade: {{addressForm.city}}</span>
            <span>Bairro: {{addressForm.district}}</span>
            <span>Rua: {{addressForm.street_name}}</span>
            <span>Nº: {{addressForm.house_number}}</span>
            <span>Complemento: {{addressForm.complement}}</span>
        </div>
    </div>
    
    {% if messages %}
        {% for message in messages %}
        
            <div class="cliente_messages {{message.tags}}">
                <p>{{message}}</p><button type="button" class="btn-close" onclick="deletarMensagem(this)">&times;</button>
            </div>
  
        {% endfor %}
    {% endif %}

    <button type="submit" class="btn-dados">Salvar</button>
</form>

<script>
    let pageTitle = document.getElementById('page-title')
    pageTitle.innerHTML = 'Meus Dados'

    function deletarMensagem(botao) {
        botao.parentElement.remove()
    }

    var form_fields = document.getElementsByTagName("input");

    for (var field in form_fields) {
    form_fields[field].className += "meus-dados-inputs";
    }

    var cep = document.getElementById('id_zip_code')

    cep.onkeyup = function(){
      if(id_zip_code.value.length == 5) {
        id_zip_code.value += '-'
      }
    }

    var phone1 = document.getElementById('id_phone1')
    var phone2 = document.getElementById('id_phone2')
    

    function maskPhone(elem_id) {
      if (elem_id.value.length == 0) {
        elem_id.value +="("
      } else if (elem_id.value.length == 3) {
        elem_id.value +=")"
      } else if (elem_id.value.length == 9) {
        elem_id.value +="-"
      }
    }


    phone1.onkeydown = function(){
      maskPhone(phone1)
    }

    phone2.onkeydown = function(){
      maskPhone(phone2)
    }

</script>

{% endblock %}