{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}
<!-- <form class="dados_form" action="" method="POST"> -->
    <div class="perfil">
        <h2>Perfil:</h2>
        <span>CPF: {{user.username}}</span>
        <span>Nome: {{user.client.name}}</span>
        <span>E-mail: {{user.client.email}}</span>
        <span>Créditos: R$ {{user.client.credits}}</span>
        <span>Telefone 01: {% if user.client.phone1 != None %} {{user.client.phone1}} {% else %} --- {% endif %}</span>
        <span>Telefone 02: {% if user.client.phone2 != None %} {{user.client.phone1}} {% else %} --- {% endif %}</span>
        {{clientForm}}
        {{addressForm}}
    </div>
    <div class="address">
        <h2>Endereço:</h2>
        <span>CEP: {% if user.client.address.zip_code != None %} {{user.client.address.zip_code}} {% else %} --- {% endif %}</span>
        <span>Estado: {% if user.client.address.state != None %} {{user.client.address.state}} {% else %} --- {% endif %}</span>
        <span>Cidade: {% if user.client.address.city != None %} {{user.client.address.city}} {% else %} --- {% endif %}</span>
        <span>Bairro: {% if user.client.address.district != None %} {{user.client.address.district}} {% else %} --- {% endif %}</span>
        <span>Rua: {% if user.client.address.street_name != None %} {{user.client.address.street_name}} {% else %} --- {% endif %}</span>
        <span>Nº: {% if user.client.address.house_number != None %} {{user.client.address.house_number}} {% else %} --- {% endif %}</span>
        <span>Complemento: {% if user.client.address.complement != None %} {{user.client.address.complement}} {% else %} --- {% endif %}</span>
    </div>
    <button type="submit" class="btn-dados">Editar Dados</button>
<!-- </form> -->

{% endblock %}