{% extends 'base_clientes.html' %}
{% load static %}

{% block content %}
    <div class="perfil">
        <h2>Perfil:</h2>
        <input type="text" placeholder="Victor Viana">
        <input type="email" placeholder="victorvianads@gmail.com">
        <input type="text" placeholder="011.423.369-13">
    </div>
    <div class="phone">
        <h2>Telefones:</h2>
        <input type="text" placeholder="(47) 99127-4607">
        <input type="text" placeholder="(47) 99127-4607">
    </div>
    <div class="password">
        <h2>Perfil:</h2>
        <input type="password" placeholder="Senha Atual">
        <input type="password" placeholder="Nova Senha">
        <input type="password" placeholder="Confirmar Senha">
    </div>
    <div class="address">
        <h2>Endereço:</h2>
        <input type="text" placeholder="Rua dos caçadores">
        <input type="text" placeholder="325">
        <input type="text" placeholder="apto 102">
        <input type="text" placeholder="Velha">
        <input type="text" placeholder="89.040-000">
        <input type="text" placeholder="Blumenau">
        <input type="text" placeholder="Santa Catarina">
    </div>
    <div class="button_save">
        <button>Salvar</button>
    </div>
{% endblock %}