{% extends 'base_clientes.html' %}
{% load static %}

{% block content %}
    <div class="vehicle_type">
        {% include 'partials/_vehicle_type.html' %}
    </div>
    <div class="vehicle_plate">
        {% include 'partials/_vehicle_plate.html' %}
    </div>
    <div class="time">
        {% include 'partials/_time.html' %}
    </div>
    <div class="button_confirm">
        <button>Confirmar</button>
    </div>



    <div class="total">

        <h1>TOTAL</h1>
        <div class="h1_tempo">
            <h2>Tempo:</h2>
        </div>
        <div class="div_tempo">
            <img src="{% static 'imagens/relogio.svg' %}" alt="stylesheet">
            <div class="box">
                <h1>90m00s</h1>
            </div>
        </div>
        <div class="h1_valor">
            <h2>Valor:</h2>
        </div>
        <div class="div_valor">
            <img src="{% static 'imagens/valor.svg' %}" alt="stylesheet">
            <div class="box">
                <h1>R$2,20</h1>
            </div>
        </div>
        
    </div>




{% endblock %}