{% extends 'base_clientes.html' %}
{% load static %}

{% block content %}
    <div class="vehicle_type">
        {% include 'partials/_vehicle_type.html' %}
    </div>
    <div class="vehicle_plate">
        {% include 'partials/_vehicle_plate.html' %}
    </div>
    <div class="time">
        {% include 'partials/_time.html' %}
    </div>
    <div class="button_confirm">
        <button>Confirmar</button>
    </div>


    <div class="total">
        <h1>TOTAL</h1>
        <h2>Tempo:</h2>
        <div class="informations">
            <img src="{% static 'imagens/relogio.png' %}" alt="stylesheet">
            <div class="box">
                <p>90m00s</p>
            </div>
        </div>
        <h2>Valor:</h2>
        <div class="informations">
            <img src="{% static 'imagens/valor.png' %}" alt="stylesheet">
            <div class="box">
                <p>R$ 2,20</p>
            </div>
        </div>
    </div>
    

{% endblock %}