{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}
    <script>
        document.getElementById('page-title').innerHTML = 'Estacionar'  
    </script>

    <div class="vehicle_type_estacionar">
        <div class="vehicle_type">
        <h2>Tipo de Veículo:</h2>
            <button 
                class='btn-vehicle-type btn-active' 
                id='btn-type-all'
                onclick="selectVehicleType(this, 'all')"
                onmouseover="hoverImgColor('all_white')" 
                onmouseout="backImgColor(this, 'all_blue')">
                    <img src="{% static 'imagens/img_carro_white.png' %}" alt="Todos" id="all">Todos
            </button>
            {% include 'partials/_vehicle_type.html' %}
        </div>
    </div>

    <div class="vehicle_plate_estacionar">
        <h2 class="vehicle_plate_title">Veículos:</h2>
        <div id='vehiclesDiv'>
        
        {% for car in cars %}
            <button 
                class="btn_vehicle_plate btn-car" 
                onclick="btnActive(this)"
                id="{{car}}"
                onmouseover="hoverVehicleWhite(this, {{car.id}})"
                onmouseout="backVehicleBlue(this, {{car.id}})">
                    <img src="{% static 'imagens/img_carro_az.png' %}" alt="Carro Azul" class="img-small-car" id="{{car.id}}">
                    {{car}}
            </button>
        {% endfor %}
        
        {% for moto in motos %}
            <button 
                class="btn_vehicle_plate btn-moto" 
                onclick="btnActive(this)"
                id="{{moto}}"
                onmouseover="hoverVehicleWhite(this, {{moto.id}})"
                onmouseout="backVehicleBlue(this, {{moto.id}})">
                    <img src="{% static 'imagens/img_moto_az.png' %}" alt="Moto Azul" class="img-small-moto" id="{{moto.id}}">
                    {{moto}}
            </button>
        {% endfor %}

        {% for other in others %}
            <button 
                class="btn_vehicle_plate btn-other" 
                onclick="btnActive(this)"
                id="{{other}}"
                onmouseover="hoverVehicleWhite(this, {{other.id}})"
                onmouseout="backVehicleBlue(this, {{other.id}})">
                    <img src="{% static 'imagens/img_demais_az.png' %}" alt="Caminhão Azul" class="img-small-other" id="{{other.id}}">
                    {{other}}
            </button>
        {% endfor %}
        
        </div>
    </div>

    <div class="time">
        {% include 'partials/_time.html' %}
        <div class="total">
            <h1>TOTAL</h1>
            <div class="div-total">

                <div class="div-total-informations">
                    <h2>Tempo:</h2>
                    <div class="informations">
                        <img src="{% static 'imagens/relogio.png' %}" alt="stylesheet">
                        <div class="box">
                            <p class="total-tempo">0min</p>
                        </div>
                    </div>
                </div>

                <div class="div-total-informations">
                    <h2>Valor:</h2>
                    <div class="informations">
                        <img src="{% static 'imagens/valor.png' %}" alt="stylesheet">
                        <div class="box">
                            <p class="total-value">R$ 0,00</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <!-- Box Crônometro do Carro Estacionado -->
    {% for car in cars %}
        {% if car.expiration_time %}
            <div id="divCountdown">
                <button class="btn-countdown" id="{{car}}"><img src="{% static 'imagens/img_carro_az.png' %}" alt="Carro Azul" id="car">{{car}}</button>
                <p class='day-parked-p'>Estacionado no dia <span id="day-parked-span">{{ car.day_parked|date:'d/m/Y' }}</span></p>
                <div class="div-countdown-expiration">
                    <img src="{% static 'imagens/relogio.png' %}">
                    <button class="btn-countdown cntdown-large">Seu tempo expira às <span id="expiration-span">{{ car.expiration_time|date:'H:i:s' }}</span></button>
                </div>
                <p>Tempo Restante:</p>
                <span id="span-countdown"></span>
            </div>
        {% endif %}
    {% endfor %}

    {% for moto in motos %}
        {% if moto.expiration_time %}
            <div id="divCountdown">
                <button class="btn-countdown" id="{{moto}}"><img src="{% static 'imagens/img_moto_az.png' %}" alt="Moto Azul" id="moto">{{moto}}</button>
                <p class='day-parked-p'>Estacionado no dia <span id="day-parked-span">{{ moto.day_parked|date:'d/m/Y' }}</span></p>
                <div class="div-countdown-expiration">
                    <img src="{% static 'imagens/relogio.png' %}">
                    <button class="btn-countdown cntdown-large">Seu tempo expira às <span id="expiration-span">{{ moto.expiration_time|date:'H:i:s' }}</span></button>
                </div>
                <p>Tempo Restante:</p>
                <span id="span-countdown"></span>
            </div>
        {% endif %}
    {% endfor %}

    {% for other in others %}
        {% if other.expiration_time %}
            <div id="divCountdown">
                <button class="btn-countdown" id="{{other}}"><img src="{% static 'imagens/img_demais_az.png' %}" alt="Caminhão Azul" id="other_vehicles">{{other}}</button>
                <p class='day-parked-p'>Estacionado no dia <span id="day-parked-span">{{ other.day_parked|date:'d/m/Y' }}</span></p>
                <div class="div-countdown-expiration">
                    <img src="{% static 'imagens/relogio.png' %}">
                    <button class="btn-countdown cntdown-large">Seu tempo expira às <span id="expiration-span">{{ other.expiration_time|date:'H:i:s' }}</span></button>
                </div>
                <p>Tempo Restante:</p>
                <span id="span-countdown"></span>
            </div>
        {% endif %}
    {% endfor %}
    <!-- Fim da box cronômetro do carro estacionado -->
    

    <!-- Mensagens -->
    <div id="div-msg-estacionar" style="display: none;">
        <div class="cliente_messages msg-info">
            <p id="msg-estacionar"></p>
        </div>
    </div>
    <!-- Fim Mensagens -->


    <div class="button_confirm">
            <button id="btn-estacionar" onclick="checkCredits()" disabled>Estacionar</button>
    </div>
    

    <!-- Modal -->
    <div id="modal-full-screen" class="background-modal">
        <form class="modal-form-estacionar" action="" id="estacionar_form">
            {% csrf_token %}
            <p class="modal-msg">Você gostaria de estacionar o veículo <strong id="modal-car"></strong> por <strong id="modal-time"></strong>?</p>
            <p class="modal-obs">Obs.: O tempo restante no veículo atual será descartado.</p>
            <div class="botoes-excluir">
                <a onclick="closeModal();">Cancelar</a>
                <button type="submit" onclick="forcedReload()">Confirmar</button>
            </div>
        </form>
    </div>
    <!-- Fim Modal -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var saldoCliente = '{{client.credits}}'

        /* Correct colors on buttons */
        let imgAll = document.getElementById('all')
        let imgCar = document.getElementById('car')
        let imgMoto = document.getElementById('moto')
        let imgOther = document.getElementById('other_vehicles')


        function hoverVehicleWhite(btn, imgId) {
            let vehicleHover = document.getElementById(imgId)
            if (btn.classList.contains('btn-car')) vehicleHover.src = "{% static 'imagens/img_carro_white.png' %}"
            if (btn.classList.contains('btn-moto')) vehicleHover.src = "{% static 'imagens/img_moto_white.png' %}"
            if (btn.classList.contains('btn-other')) vehicleHover.src = "{% static 'imagens/img_demais_white.png' %}"
        }


        function backVehicleBlue(btn, imgId) {
            if (btn.classList.contains('btn-active')) return
            let vehicleHover = document.getElementById(imgId)
            if (btn.classList.contains('btn-car')) vehicleHover.src = "{% static 'imagens/img_carro_az.png' %}"
            if (btn.classList.contains('btn-moto')) vehicleHover.src = "{% static 'imagens/img_moto_az.png' %}"
            if (btn.classList.contains('btn-other')) vehicleHover.src = "{% static 'imagens/img_demais_az.png' %}"
        }

        
        function hoverImgColor(img) {
            if (img == 'all_white') imgAll.src="{% static 'imagens/img_carro_white.png' %}"
            if (img == 'white_car') imgCar.src="{% static 'imagens/img_carro_white.png' %}"
            if (img == 'white_moto') imgMoto.src="{% static 'imagens/img_moto_white.png' %}"
            if (img == 'white_truck') imgOther.src="{% static 'imagens/img_demais_white.png' %}"
        }


        function backImgColor(btn, img) {
            if (btn.classList.contains('btn-active')) return
            if (img == 'all_blue') imgAll.src="{% static 'imagens/img_carro_az.png' %}"
            if (img == 'blue_car') imgCar.src="{% static 'imagens/img_carro_az.png' %}"
            if (img == 'blue_moto') imgMoto.src="{% static 'imagens/img_moto_az.png' %}"
            if (img == 'blue_truck') imgOther.src="{% static 'imagens/img_demais_az.png' %}"
        }


        function resetColor() {
            let allCarsImg = document.getElementsByClassName('img-small-car')
            for (var i = 0; i < allCarsImg.length; i++) {
                allCarsImg[i].src="{% static 'imagens/img_carro_az.png' %}"
            }
            let allMotosImg = document.getElementsByClassName('img-small-moto')
            for (var i = 0; i < allMotosImg.length; i++) {
                allMotosImg[i].src="{% static 'imagens/img_moto_az.png' %}"
            }
            let allOthersImg = document.getElementsByClassName('img-small-other')
            for (var i = 0; i < allOthersImg.length; i++) {
                allOthersImg[i].src="{% static 'imagens/img_demais_az.png' %}"
            }
        }


        function clearImgColor(botao) {
            imgAll.src="{% static 'imagens/img_carro_az.png' %}"
            imgCar.src="{% static 'imagens/img_carro_az.png' %}"
            imgMoto.src="{% static 'imagens/img_moto_az.png' %}"
            imgOther.src="{% static 'imagens/img_demais_az.png' %}"
        }


        function activeVehicleCorrectColor(activeBtn) {
            if (activeBtn.classList.contains('btn-car')) activeBtn.getElementsByTagName('img')[0].src="{% static 'imagens/img_carro_white.png' %}"
            if (activeBtn.classList.contains('btn-moto')) activeBtn.getElementsByTagName('img')[0].src="{% static 'imagens/img_moto_white.png' %}"
            if (activeBtn.classList.contains('btn-other')) activeBtn.getElementsByTagName('img')[0].src="{% static 'imagens/img_demais_white.png' %}"
        }


        function activeTypeCorrectColor(tipo) {
            switch (tipo) {
                case 'C':
                    imgCar.src="{% static 'imagens/img_carro_white.png' %}"
                    break
                case 'M':
                    imgMoto.src="{% static 'imagens/img_moto_white.png' %}"
                    break
                case 'O':
                    imgOther.src="{% static 'imagens/img_demais_white.png' %}"
                    break
                case 'all':
                    imgAll.src="{% static 'imagens/img_carro_white.png' %}"
                    break
            }   
        }

    </script>
    <script src="{% static 'js/estacionar.js' %}"></script>
{% endblock %}