{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}

    <div class="div-excluir">
        <form class="form-excluir" action="{% url 'excluirVeiculo' user.client.id vehicle.id %}" method='POST'>
            <p>Você tem certeza que quer deletar "{{vehicle}}"?</p>
            {% csrf_token %}
            <a href="{% url 'veiculos' user.client.id %}">Cancelar</a>
            <input type="submit" name="Confirm">
        </form>
    </div>

    <script>
        let pageTitle = document.getElementById('page-title')
        pageTitle.innerHTML = 'Excluir Veículo'
    </script>
{% endblock %}