{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}
    <script>
        document.getElementById('page-title').innerHTML = 'Excluir Veículo'
    </script>

    <div class="div-excluir">
        <form class="form-excluir" action="{% url 'excluirVeiculo' user.client.id vehicle.id %}" method='POST'>
            <p>Você tem certeza que quer excluir o veículo <strong>"{{vehicle}}"</strong>?</p>
            <div class="botoes-excluir">
                {% csrf_token %}
                <a href="{% url 'veiculos' user.client.id %}">Cancelar</a>
                <button type="submit">Excluir</button>
            </div>
        </form>
    </div>

{% endblock %}
