{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}
  <div class="date_filter_extrato">
    {% include 'partials/_date_filter.html' %}
  </div>
  <div class="div_table_extract">
    {% include 'partials/_table_extract.html' %}
  </div>

  <script>
    let pageTitle = document.getElementById('page-title')
    pageTitle.innerHTML = 'Extrato'

    let startDate = document.getElementById('id_start_date')
    let endDate = document.getElementById('id_end_date')

    startDate.setAttribute('maxlength', 10);
    endDate.setAttribute('maxlength', 10);

    startDate.onkeyup = function() {
      mascaraData(startDate, startDate.value)
    }

    endDate.onkeyup = function() {
      mascaraData(endDate, endDate.value)
    }

    function mascaraData(campo, valor){
      var key = event.keyCode || event.charCode;
      if( key == 8 || key == 46 ) return false;
      
      var mydata = '';
      mydata = mydata + valor;
      if (mydata.length == 2){
        mydata = mydata + '/';
        campo.value = mydata;
      }
      if (mydata.length == 5){
        mydata = mydata + '/';
        campo.value = mydata;
      }
    }
    
    var date = new Date();
    var year = date.getFullYear()
    var month = (date.getMonth()+1)
    var day = date.getDate();
    var tomorrow = (day+1)+'/'+month+'/'+year


    function getDateNow() {
      date = new Date();
      year = date.getFullYear()
      month = (date.getMonth()+1)
      day = date.getDate();
      tomorrow = (day+1)+'/'+month+'/'+year
    }
    

    function setToday() {
      getDateNow()
      let today = day+'/'+month+'/'+year
      startDate.value = today
      endDate.value = tomorrow
    }
    

    function setLastWeek() {
      getDateNow()
      day -= 6
      if (day < 1) {
        day = day + 30
        month--
      }
      let lastWeek = day+'/'+month+'/'+year
      startDate.value = lastWeek
      endDate.value = tomorrow
    }

    
    function setLastMonth() {
      getDateNow()
      month -= 1
      if (month < 1) {
        month = 12
        year--
      }
      let lastMonth = day+'/'+month+'/'+year
      startDate.value = lastMonth
      endDate.value = tomorrow
    }


    function setLastYear() {
      getDateNow()
      year -= 1
      let lastYear = day+'/'+month+'/'+year
      startDate.value = lastYear
      endDate.value = tomorrow
    }

  </script>
{% endblock %}