{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}
  <script>
    document.getElementById('page-title').innerHTML = 'Extrato'
  </script>
  
  <div class="date_filter_extrato">
    {% include 'partials/_date_filter.html' %}
  </div>
  <div class="div_table_extract">
    {% include 'partials/_table_extract.html' %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'js/jquery.mask.js' %}"></script>

  <script>
    let startDate = document.getElementById('id_date_range_0')
    let endDate = document.getElementById('id_date_range_1')
    let divDateRange = document.getElementById('div-date-range')
    
    var date = new Date();
    var year = date.getFullYear()
    var month = (date.getMonth()+1)
    var day = date.getDate();
    var tomorrow = (day+1)+'/'+month+'/'+year
    

    function verifyMonthDay() {
      if (month < 10) month = '0'+month
      if (day < 10) day = '0'+day
    }


    function getDateNow() {
      date = new Date();
      year = date.getFullYear()
      month = (date.getMonth()+1)
      day = date.getDate(); 
      tomorrow = day+'/'+month+'/'+year
    }
    

    function setToday() {
      getDateNow()
      verifyMonthDay()
      let today = day+'/'+month+'/'+year
      startDate.value = today
      endDate.value = day+'/'+month+'/'+year
    }
    

    function setLastWeek() {
      getDateNow()
      day -= 7
      if (day < 1) {
        day = day + 30
        month--
      }
      verifyMonthDay()
      let lastWeek = day+'/'+month+'/'+year
      startDate.value = lastWeek
      endDate.value = tomorrow
    }


    function setThisMonth() {
      getDateNow()
      verifyMonthDay()
      startDate.value = '01'+'/'+month+'/'+year
      endDate.value = tomorrow
    }


    function setThisYear() {
      getDateNow()
      startDate.value = '01/01/'+year
      endDate.value = tomorrow
    }


    $('#id_date_range_0').mask('00/00/0000', {placeholder: "dd/mm/aaaa"});
    $('#id_date_range_1').mask('00/00/0000', {placeholder: "dd/mm/aaaa"});
    $('#id_start_value').mask('000.00', {placeholder: "R$ 0,00", reverse: true});
    $('#id_end_value').mask('000.00', {placeholder: "R$ 0,00", reverse: true});

  </script>
{% endblock %}