{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="cliente_main">
        <img src="{% static 'imagens/Logo-A-provisorio.png' %}" alt="Logo Área Azul" width="300" class="logo">
        <h2>Olá, (nome do cliente)</h2>
        <h1>Você tem</h1>
        <h1>(valor em créditos)</h1>
        <h1>em créditos.</h1>
    </div>

    <div class="cliente_options_div">
        <div class="cliente_options_links" onclick="location.href='{% url 'estacionar' %}'">
            <img src="{% static 'imagens/Estacionar.png' %}" alt="Icone Estacionar" width="60"><a href="">Estacionar</a>
        </div>
        <div class="cliente_options_links" onclick="location.href='{% url 'extrato' %}'">
            <img src="{% static 'imagens/Extrato.png' %}" alt="Icone Extrato" width="60"><a href="">Extrato</a>
        </div>
        <div class="cliente_options_links" onclick="location.href='{% url 'creditos' %}'">
            <img src="{% static 'imagens/Adicionar_Creditos.png' %}" alt="Icone Adicionar_Creditos" width="60"><a href="">Adicionar Créditos</a>
        </div>
        <div class="cliente_options_links" onclick="location.href='{% url 'multas' %}'">
            <img src="{% static 'imagens/Pagar_Multa.png' %}" alt="Icone Pagar_Multa" width="60"><a href="">Pagar Multa</a>
        </div>
        <div class="cliente_options_links" onclick="location.href='{% url 'veiculos' %}'">
            <img src="{% static 'imagens/Meus_Veiculos.png' %}" alt="Icone Meus_Veiculos" width="60"><a href="">Meus Veículos</a>
        </div>
        <div class="cliente_options_links" onclick="location.href='{% url 'dados' %}'">
            <img src="{% static 'imagens/Meus_Dados.svg' %}" alt="Icone Meus_Dados" width="60"><a href="">Meus Dados</a>
        </div>
        <div class="cliente_options_links">
            <img src="{% static 'imagens/Sair.png' %}" alt="Icone Sair" width="60"><a href="">Sair</a>
        </div>
    </div>
{% endblock %}