{% extends 'cliente/base_clientes.html' %}
{% load static %}

{% block content %}
    <script>
        document.getElementById('page-title').innerHTML = 'Meus Veículos'
    </script>

    <div class="vehicle_type_veiculos">
        <h2 id="title">Incluir novo veículo</h2>
        <div class="vehicle_type">
            <h2>Tipo de Veículo:</h2>
            {% include 'partials/_vehicle_type.html' %}
        </div>
        <form class="veiculos_form" id="novo_veiculo_form">
            {% csrf_token %}
            <div class="add_plate">
                <h2>Placa:</h2>
                <input type="text" placeholder="Insira a Placa" id="placa" maxlength="7" onfocus="innerBoxShadow()" onblur="removeInnerBox()" onkeyup="verifyPlate()">
                <button id="btn-add-car" type="submit" disabled onclick="forcedReload()"><img src="{% static 'imagens/add_plate_blue.png' %}" alt="Adicionar Carro" id="img-add-car">Adicionar</button>
            </div>  
        </form>
    </div>

    <div class="vehicle_plate_veiculos">
        <h2 class="vehicle_plate_title">Veículos:</h2>
            <div class="vehicle_plate_plates">
                {% for car in cars %}
                    <div class="plate_button">
                        <button class="btn_vehicle_plate"><img src="{% static 'imagens/img_carro_az.png' %}" alt="Carro Azul" id="car">{{car}}</button>
                        <div class="button_remove">
                            <a href="{% url 'excluirVeiculo' user.client.id car.id %}"><img src="{% static 'imagens/remove_car.png' %}" alt="stylesheet"></a>
                        </div>
                    </div>
                {% endfor %}
                {% for moto in motos %}
                    <div class="plate_button">
                        <button class="btn_vehicle_plate"><img src="{% static 'imagens/img_moto_az.png' %}" alt="Moto Azul" id="moto">{{moto}}</button>
                        <div class="button_remove">
                            <a href="{% url 'excluirVeiculo' user.client.id moto.id %}"><img src="{% static 'imagens/remove_car.png' %}" alt="stylesheet"></a>
                        </div>
                    </div>
                {% endfor %}
                {% for other in others %}
                    <div class="plate_button">
                        <button class="btn_vehicle_plate"><img src="{% static 'imagens/img_demais_az.png' %}" alt="Caminhão Azul" id="other_vehicles">{{other}}</button>
                        <div class="button_remove">
                            <a href="{% url 'excluirVeiculo' user.client.id other.id %}"><img src="{% static 'imagens/remove_car.png' %}" alt="stylesheet"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if messages %}
                {% for message in messages %}
                
                    <div class="cliente_messages {{message.tags}}">
                        <p>{{message}}</p><button type="button" class="btn-close" onclick="deletarMensagem(this)">&times;</button>
                    </div>
        
                {% endfor %}
            {% endif %}

            <div class="cliente_messages msg-success" id="msg-veiculo-cadastrado" style="display: none;">
                <p>Veículo Cadastrado com Sucesso! Aguarde um momento e a página será recarregada.</p><button type="button" class="btn-close" onclick="deletarMensagem(this)">&times;</button>
            </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>

    <script type="text/javascript"> 
        let divMensagem = document.getElementById('div-message')

        let placa = document.getElementById('placa')
        
        let vehicleTypeButtons = document.getElementsByClassName('btn-vehicle-type') 
        let btnAddCar = document.getElementById('btn-add-car')
        let imgAddCar = document.getElementById('img-add-car')
        let imgCar = document.getElementById('car')
        let imgMoto = document.getElementById('moto')
        let imgOther = document.getElementById('other_vehicles')

        document.getElementById('btn-type-car').classList.add('btn-active')
        imgCar.src="{% static 'imagens/img_carro_white.png' %}"
        let vehicle_type = 'C'
        
        $('#placa').mask('SSS0A00');

        
        function innerBoxShadow() {
            placa.classList.add('inner-box-shadow')
        }


        function removeInnerBox() {
            placa.classList.remove('inner-box-shadow')
        }


        function hoverImgColor(img) {
            if (img == 'white_car') imgCar.src="{% static 'imagens/img_carro_white.png' %}"
            if (img == 'white_moto') imgMoto.src="{% static 'imagens/img_moto_white.png' %}"
            if (img == 'white_truck') imgOther.src="{% static 'imagens/img_demais_white.png' %}"
        }


        function backImgColor(btn, img) {
            if (btn.classList.contains('btn-active')) return
            if (img == 'blue_car') imgCar.src="{% static 'imagens/img_carro_az.png' %}"
            if (img == 'blue_moto') imgMoto.src="{% static 'imagens/img_moto_az.png' %}"
            if (img == 'blue_truck') imgOther.src="{% static 'imagens/img_demais_az.png' %}"
        }


        function changeImgColor(tipo) {
            imgCar.src="{% static 'imagens/img_carro_az.png' %}"
            imgMoto.src="{% static 'imagens/img_moto_az.png' %}"
            imgOther.src="{% static 'imagens/img_demais_az.png' %}"
            if (tipo == 'C') imgCar.src="{% static 'imagens/img_carro_white.png' %}"
            if (tipo == 'M') imgMoto.src="{% static 'imagens/img_moto_white.png' %}"
            if (tipo == 'O') imgOther.src="{% static 'imagens/img_demais_white.png' %}"
        }
        

        function selectVehicleType(btnClicked, tipo) {
            changeImgColor(tipo)
            for (let button of vehicleTypeButtons) {
                button.classList.remove('btn-active')
            }
            btnClicked.classList.add('btn-active')
            vehicle_type = tipo
        }


        function verifyPlate(){
            if (placa.value.length == 7) {
                btnAddCar.disabled = false
                imgAddCar.src="{% static 'imagens/add_plate.png' %}"
            }
            else {
                imgAddCar.src="{% static 'imagens/add_plate_blue.png' %}"
                btnAddCar.disabled = true
            }
        }

        
        $(document).on('submit', '#novo_veiculo_form', function(){

            $.ajax({
                type: 'POST',
                url: '',
                data: {
                    license_plate: $('#placa').val().toUpperCase(),
                    vehicle_type: vehicle_type,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                beforeSend:function(html) {
                    setTimeout(function(){
                        $("#msg-veiculo-cadastrado").fadeIn()
                    }, 3000);
                },
                success:function() {
                    $("#msg-veiculo-cadastrado").fadeIn()
                    setTimeout(function() {
                        $("#msg-veiculo-cadastrado").fadeOut()
                    }, 3000);
                }
            
            });

            return false
        });


    </script>
{% endblock %}