{% extends 'base_clientes.html' %}
{% load static %}

{% block content %}
    <div class="vehicle_plate_veiculos">
        <h2 class="vehicle_plate_title">Veículo:</h2>
        <div class="plate_button">
            {% include 'partials/_vehicle_plate.html' %}
            {% include 'partials/_button_remove.html' %}
        </div>
    </div>
    <div class="vehicle_type_veiculos">
        <h2 id="title">Incluir novo veículo</h2>
        {% include 'partials/_vehicle_type.html' %}
    </div>




{% endblock %}