{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Área Azul - Blumenau</title>
  
  <link rel="stylesheet" href="{% static 'cliente.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'bootstrap-5.1.1-dist\css\bootstrap.css' %}"> -->
</head>
<body>
    <div class="fullpage">

        <div class="sidebar">
            <div class="sidebar_upper">
                <div class="sb_upper_img">
                    <img src="{% static 'imagens/Logo-A-provisorio.png' %}" alt="Logo Área Azul" width="70%" class="logo-template" onclick="location.href='{% url 'index' %}'">
                </div>
                <div class="sb_upper_text">
                    <h3>Olá, <a href="{% url 'index' %}">(Nome do Cliente)!</a></h3>
                </div>
            </div>

            <div class="sidebar_lower">
                <div class="sidebar_options" onclick="location.href='{% url 'estacionar' %}'">
                    <img src="{% static 'imagens/Estacionar.png' %}" alt="Icone Estacionar" width="25"><a href="{% url 'estacionar' %}">Estacionar</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'extrato' %}'">
                    <img src="{% static 'imagens/Extrato.png' %}" alt="Icone Extrato" width="25"><a href="{% url 'extrato' %}">Extrato</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'creditos' %}'">
                    <img src="{% static 'imagens/Adicionar_Creditos.png' %}" alt="Icone Adicionar_Creditos" width="25"><a href="{% url 'creditos' %}">Adicionar Créditos</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'multas' %}'">
                    <img src="{% static 'imagens/Pagar_Multa.png' %}" alt="Icone Pagar_Multa" width="25"><a href="{% url 'multas' %}">Pagar NR</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'veiculos' %}'">
                    <img src="{% static 'imagens/Meus_Veiculos.png' %}" alt="Icone Meus_Veiculos" width="25"><a href="{% url 'veiculos' %}">Meus Veículos</a>
                </div>
                <div class="sidebar_options" onclick="location.href='{% url 'dados' %}'">
                    <img src="{% static 'imagens/Meus_Dados.svg' %}" alt="Icone Meus_Dados" width="25"><a href="{% url 'dados' %}">Meus Dados</a>
                </div>
                <div class="sidebar_options" >
                    <img src="{% static 'imagens/Sair.png' %}" alt="Icone Sair" width="25"><a href="">Sair</a>
                </div>
            </div>
        </div>

        <div class="page">
            <div class="page_title">
                {% if request.get_full_path == "/cliente/estacionar/" %} <h3>Estacionar</h3> {% endif %}
                {% if request.get_full_path == "/cliente/extrato/" %} <h3>Extrato</h3> {% endif %}
                {% if request.get_full_path == "/cliente/creditos/" %} <h3>Adicionar Créditos</h3> {% endif %}
                {% if request.get_full_path == "/cliente/multas/" %} <h3>Pagar NR</h3> {% endif %}
                {% if request.get_full_path == "/cliente/veiculos/" %} <h3>Meus Veículos</h3> {% endif %}
                {% if request.get_full_path == "/cliente/dados/" %} <h3>Meus Dados</h3> {% endif %}
            </div>
            <div class="page_content">
                {% block content %}{% endblock %}   
            </div>
        </div>

    </div>
<script src="{% static 'bootstrap-5.1.1-dist\js\bootstrap.bundle.js' %}"></script>
</body>
</html>